<body class="full">
  <div class="container">
    <h3>Hello, <%= User.find(session[:user_id]).username.upcase %>!</h3>
    <div><%= link_to "Edit My Profile", edit_path, {:class => "waves-effect waves-light btn"} %></div><br>
    <% if current_user.bids != nil %>
      <%= render partial: "dashboard" %>
    <% end %>
  </div>
</body>