<body class="full">
  <div class="container">
    <h1>Hello, <%= User.find(session[:user_id]).username.upcase %>!</h1>
  </div>
  <div class="btn btn-success"><%= link_to "Edit My Profile", edit_path %></div>
</body>
