<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cabin|Playfair Display|Tenor Sans">

<body class="full">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1 class="welcome-header">Denvestments</h1>
            <p class="welcome-text">Invest in your community</p>
        </div>
    </div>
  </div>
</body>

