<ul>
  <% @auctions.each do |auction| %>
    <%= auction.item.title %>
    <li>Starting Price: $<%= auction.starting_price %></li>
    <li>Current Highest Bid: $<%= auction.highest_bid %></li>
  <% end %>
</ul>