$white: #ffffff;
$dark-grey: #333333;
$primary: #91a437;
$primary-light: #e8f6a4;
$primary-dark: #445200;
$secondary: #AA5939;
$secondary-light: #FFC2AA;
$secondary-dark: #551800;
$tertiary: #343477;
$tertiary-light: #8080B3;
$tertiary-dark: #09093B;

.navbar-inverse { background-color: $primary-light}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: $primary-light}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: $primary}
.dropdown-menu { background-color: $white}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: $primary}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: $primary-light}
.navbar-inverse .navbar-brand { color: $primary}
.navbar-inverse .navbar-brand:hover { color: $primary-dark}
.navbar-inverse .navbar-nav>li>a { color: $primary}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: $primary-dark}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: $white}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: $primary-dark}
.dropdown-menu>li>a { color: $dark-grey}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: $white}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: $primary}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: $primary-dark}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: $primary}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: $primary-dark}

.glyphicon {
  font-size: 1.25em;
}

body {
  margin-top: 4em;
}

.row {
  margin-top: 2em;
}

.slide-image {
  width: 100%;
}

p, dt {
  color: black;
}

a {
  color: $secondary;
}

a:hover {
  color: $secondary-light;
}

#admin-links {
  padding-bottom: 15px;
}

#admin-links a {
  color: #ffffff;
}

.btn-group {
  padding-bottom: 10px;
}

.btn-warning {
  background: $secondary;
  border-color: $secondary-dark;
}

.btn-warning:hover {
  background: $secondary-light;
  border-color: $secondary;
}

.btn-primary {
  background: $tertiary;
  border-color: $tertiary-dark;
}

.btn-primary:hover {
  background: $tertiary-light;
  border-color: $tertiary;
}

$grey: #333;
//
.slide-image {
  object-fit: fill;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: scroll;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.thumbnail {
  overflow: scroll;
  padding: 0;
}

.carousel-inner {
  max-height: 500px;
  object-fit: fill;
  max-width: 100%;
}

.show-loan img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.show-loan {
  overflow: scroll;
  padding: 0;
}

.show-loan .caption-full {
  color: $grey;
  overflow: scroll;
  padding: 9px;
}

.cart-image img {
  height: auto;
  width: 200px;
}

#checkout a {
  color: #ffffff;
}
