.nav-wrapper {
  padding-left:  20px;
  padding-right: 20px;
  height: 100px;

}

.navbar-form {
  margin-left: 150px;

}

li:first-child{
  margin-right: 170px;
  height: 50px;
}

#search-button {
  display: none;
}
