<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="lead header"><%= @category.name %></h1>
      <div class="row items">
        <% @items.each do |item| %>
          <%= render partial: "/layouts/tiny_item",
            locals: { item: item, mode: :add, path: request.path } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
