<ul id="dropdown1" class="dropdown-content ">
  <% category_list.each do |category| %>
    <li><a href="<%= category_path(category) %>"><%= category.name %></a></li>
  <% end %>
</ul>

<nav>
  <div class="nav-wrapper blue-grey">
    <a href="/" class="brand-logo">BidDay</a>
    <ul class="right hide-on-med-and-down">
      <%= render partial: "layouts/login" %>
      <li><a href="/loans">Items</a></li>
      <li><a href="/stores">Browse Stores</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown Trigger -->
      <li><a href="/cart">Loans in Cart: <%= session[:cart].values.sum if session[:cart] %></a></li>
      <li><a id="cart" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    </ul>

  </div>
</nav>

<script type="text/javascript">
  $(".dropdown-button").dropdown();
</script>
